


/*NOTICIAS*/
.info-noticias{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.noticias-coches {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.noticias {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 12px;
}

@media (min-width: 30em) {
    .noticias {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .noticias {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido {
    background: none;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contenido:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.contenido img {
    width: 100%;
}

.contenido .imagen {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.contenido article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenido p {
    flex: 1;
    line-height: 1.4;
    color: #004B41;
    font-size: 15px;
    font-family: 'futura', sans-serif;
    text-align: center;
    padding: 16px;
}

.contenido h1 {
    font-family: 'futura', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
    color: #333;
}

.contenido .imagen {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

/*CABECERA*/
.cabecera {
    font-family: 'futura', sans-serif;
    font-size: 45px;
    color: #004b41;
    padding-top: 11px;
}

/*DIVISION*/
.division {
    width: 100%;
    height: 120px;
    background-color: #004b41;
    margin-top: 20px;
}