/*DIVISION DE LA TIENDA*/
.division-tienda {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .division-tienda {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtros {
        width: 25%;
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    .eventos {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: right;
        align-items: center;
    }

    .contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/*FILTROS*/
.filtros {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    gap: 20px;
    /* background-color: rgb(12, 4, 94); */
}

.buscar {
    display: flex;
    color: #111827;
    font-family: 'futura', sans-serif;
    cursor: pointer;
    align-items: center;
    height: 35px;
    justify-content: center;
}

.fa-search {
    color: #004b41;
    padding-right: 5px;
}

.input-field {
    display: flex;
    /* border: none; */
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.filtro-marca {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: .5fr;
    grid-template-rows: auto; */
    grid-gap: 5px;
    margin-top: 12px;
    justify-content: center;
}

.div-contenido-filtro {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}

.div-contenido-filtro a {
    text-decoration: none;
    color: black;
}

.div-contenido-filtro a p {
    font-size: 13px;
}

.switch-button {
    display: none;
}

/*INFO-EVENTOS*/
.info-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evento {
    width: 90%;
    max-width: 1240px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 12px;
}

@media (min-width: 30em) {
    .info-eventos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .info-eventos {
        grid-template-columns: repeat(1, 1fr);
    }
}


.div-contenido {
    display: flex;
    justify-content: center;
    width: 100%;

}

.contenido {
    background: none;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    min-height: 100%;
    position: relative;
    width: 100%;
}

.contenido:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.contenido img {
    width: 200px;
    height: 200px;
    padding: 10px;
}

.contenido .imagen {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.contenido article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.informacion {
    display: flex;
    flex-direction: column;
}

.contenido p {
    margin: 0 0 0 38px;
    font-family: 'Raleway', serif;
    color: black;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.contenido h1 {
    font-family: 'futura', sans-serif;
    margin: 0 0 0 38px;
    padding-top: 20px;
    font-size: 30px;
    color: black;
}

.contenido h2 {
    margin: 0 0 20px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
}

/*DIVISION*/
.division {
    width: 100%;
    height: 120px;
    background-color: #004b41;
    margin-top: 20px;
}

/*FOTOS*/
.fotos {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: right;
}

.info-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotografias {
    width: 90%;
    max-width: 1240px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 12px;
}

@media (min-width: 30em) {
    .fotografias {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .fotografias {
        grid-template-columns: repeat(3, 1fr);
    }
}

.contenido-fotos {
    background: none;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
}

.contenido-ftos:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.contenido-fotos img {
    width: 100%;
}

.contenido-fotos .imagen {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}